@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.teamHeader {
    padding: 0.75rem 0.875rem 0;

    &__title {
        @include flexbox;

        &-logo {
            height: 4rem;
        }

        &-teamname {
            font-size: 1.75rem;
            margin-left: 1rem;
            font-weight: 600;
        }
    }

    @include tablet {
        padding: 0.75rem 2.25rem 0;
    }
}