@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.background {
    height: 90%;
    min-height: 90vh;
    position: relative;
    padding-bottom: 7.5rem;
    background-color: $omr-grey
}

.dashboard { 
    &__title {
        font-size: 1.75rem;
    }

    &__subtitle {
        font-size: 1.375rem
    }

    &__link {
        display: block;
        text-decoration: none;
        color: $omr-darkblue;
        font-size: 1.125rem;
        padding: 0.25rem 0;
    }
}