@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.addGames {
  &__header {
    @include h2;
    margin: 0.5rem 0 1.5rem;
  }
  &__form {
    @include flexbox(space-between, center, row, wrap);
    @include biggerp;

    &-date {
      @include flexbox;
      width: 60%;

      @include tablet {
        margin-bottom: 0;
      }

      & span {
        width: 5rem;
      }

      &-input {
        @include input;
        width: 10rem;
      }
    }
    &-time {
      width: 40%;

      @include tablet {
        width: 37.5%;
      }

      & span {
        display: inline-block;
        width: 40%;
        max-width: 5rem;

        @include tablet {
          width: 40%;
          max-width: 7rem;
        }
      }

      &-input {
        @include input;
        width: 5rem;
      }
    }
    &-team {
      width: 100%;
      margin-top: 0.75rem;

      & span {
        display: inline-block;
        width: 20%;
        max-width: 4.25rem;

        @include tablet {
          max-width: 5rem;
        }
      }

      &-input {
        @include input;
        width: 78%;

        & span {
          width: 50%;
        }
      }
    }

    &-type {
      @include flexbox;
      width: 60%;
      margin-top: 0.75rem;

      & span {
        display: inline-block;
        width: 5rem;
      }

      &-input {
        @include input;
        width: 10rem;
      }
    }

    &-season {
      @include flexbox;
      width: 40%;
      margin-top: 0.75rem;

      & span {
        display: inline-block;
        width: 6rem;
      }

      &-input {
        @include input;
        width: 6rem;
      }
    }

    &-notes {
      width: 100%;
      margin-top: 0.75rem;

      &-input {
        @include input;
        width: 77%;
        height: 5rem;
      }

      @include tablet {
        width: 100%;
      }

      & span {
        display: inline-block;
        vertical-align: top;
        width: 20%;
        max-width: 4.25rem;

        @include tablet {
          max-width: 5rem;
        }
      }
    }

    &-button {
      @include button;
      margin: 0.75rem auto;
      width: 90%;
      max-width: 15rem;

      @include tablet {
        width: 60%;
        margin-top: 0.75rem;
      }
    }

    @include tablet {
      max-width: 28rem;
    }
  }
}

// .react-datepicker {
//   &__input-container input {
//     @include input;
//     width: 6.5rem;

//     @include tablet {
//       width: 12rem;
//     }
//   }
//   &-popper {
//     z-index: 3 !important;
//   }
// }
