@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.nav {
  background-color: $omr-red;

  &__links {
    @include flexbox(center);
    list-style: none;
    padding-inline-start: 0;
    font-size: 1.25rem;
    padding: 0.5rem 0;
    margin: 0;

    &-link {
      @include biggerp;
      font-weight: 600;
      padding: 0 1.5rem;
      text-decoration: none;
      cursor: pointer;
      color: $white;

      @include tablet {
        padding: 0 3.5rem;
      }

      @include desktop {
        padding: 0 5.5rem;
      }
    }

    &-link:visited {
      color: $white;
    }

    &-link:nth-of-type(2) {
      border-left: 2px solid white;
      // border-right: 2px solid white;
    }
  }
}
