@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.stat-leaders {
    padding: 1rem;
    background-color: $white;

    &__header {
        @include h1;
        padding-bottom: 1.5rem;
    }

    &__container {
        @include flexbox(space-between, flex-start, row, wrap);
    }
}