@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.stat-leaders {
    padding: 1rem;
    background-color: $white;

    &__header {
        @include h1;
        margin: 1.5rem 0;

        @include desktop {
            margin: 0 auto;
            padding: 1.5rem 0;
            max-width: 1280px;
        }
    }

    &__subheader {
        @include h2;
        margin: 1rem 0 1.5rem; 
        width: 100%;
    }

    &__container {
        @include flexbox(space-between, flex-start, row, wrap);

        @include desktop {
            margin: 0 auto;
            width: 90%;
            max-width: 1280px;
        }
    }

    @include tablet {
        padding: 1rem 2rem;
    }

    @include desktop {
        padding: 1rem 0;
    }
}