@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.background {
  height: 90%;
  min-height: 90vh;
  padding-bottom: 20rem;
  position: relative;
}

.team-main {
  background-color: $white;
  @include desktop {
    &__ros-sked {
      @include flexbox(space-between, flex-start);
      max-width: 1400px;
      margin: 0 auto;
    }
  }
}
