@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.background {
  height: 90%;
  min-height: 90vh;
  padding-bottom: 7.5rem;
  position: relative;
}

.team-main {
  background-color: $white;
  @include desktop {
    &__ros-sked {
      @include flexbox(flex-start, flex-start);
    }
  }
}
