@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.hero {
    @include flexbox(flex-end, flex-end);
    height: 22rem;
    background: url(../../../assets/images/games/Odd-Man-Rush-Hockey-League-Action.jpg)
      no-repeat center/cover;

  &__text {
    margin: 1.5rem;
    max-width: 20rem;

    @include tablet {
        margin: 1.5rem 3rem;
        max-width: 22.5rem;
    }

    @include desktop {
      max-width: 27.5rem;
    }
  }

  &__h1 {
    @include h1;
    padding: 1.5rem;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 5px;
    margin: 0;
    text-align: center;

    @include tablet {
        text-align: right;
    }
  }

  @include tablet {
    margin: 0 3rem;
    height: 25rem;
  }

  @include desktop {
    width: 90%;
    height: 30rem;
    max-width: 1280px;
  }
}
